<%= content_for :nav do %>
  <header class="navbar navbar-static-top">
    <nav class="navbar-inner">
      <ul class="nav">
        <li><%= link_to 'Add Menu', menus_path %></li>
         <%# link_to 'Customize Menu', edit_place_menu_path(@menu) %>
      </ul>
    </nav>
  </header>
<% end %>