@import "bootstrap";
@import "bootstrap-responsive";

// @media (min-width: 600px) { .container { width: 615px;margin:0 auto;} }
// @media (min-width: 900px) { .container { width: 920px;margin:0 auto;} }
// @media (min-width: 1200px) { .container { width: 1225px;margin:0 auto;} }
// @media (min-width: 1600px) { .container { width: 1530px;margin:0 auto;} }

/* universal */

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Forms */
.controls input {
  padding: 10px 20px;
}
.control-group label {
  // font-size: 15px;
  // font-weight:normal;
}

/* Place Navigation Menu */
#place-nav {
  color:white;
  position: absolute;
  top: 100px;
  max-width:250px;
  left: 50px;
  border-radius:15px;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  #place-title {
    background-color: rgba(0, 0, 0, .82);
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    h1 {
      color:white;
      margin: 0;
      text-align:left;
      font-size: 24px;
    }
  }
  #place-links {
    background-color: rgba(0, 0, 0, .82);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 5px 0;
      }
    }
    a {
      color:white;
      font-size: 18px;
      display:block;
      width:60px;
    }
  }
}

/* Isotope Grid */
#grid {
  overflow:hidden;
  position:relative;
  padding: 10px;
  margin-left:350px;
}
.grid-item {
  float: left;
  padding: 10px;
  width:200px;
  margin: 0 7px 15px;
  line-height: 1.5;
  background:white;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  .caption {
    color: #8c7e7e;
    padding: 5px 0 0 5px;
    width: 100%;
  }
  .chatbox {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(#000,.1);
    padding: 5px 5px;
    padding-left:10px;
    // @include pie-clearfix;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      color: #b29c9c;
      b {
        color: #8c7e7e;
      }
    }
  }
}

/* Content container */
#content {
  overflow:hidden;
  position:absolute;
  left: 500px;
}
.item {
  float: left;
  padding: 10px;
  width:300px;
  margin: 0 7px 15px;
  line-height: 1.5;
  background:white;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  .caption {
    color: #8c7e7e;
    padding: 5px 0 0 5px;
    width: 100%;
  }
  .chatbox {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(#000,.1);
    padding: 5px 5px;
    padding-left:10px;
    // @include pie-clearfix;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      color: #b29c9c;
      b {
        color: #8c7e7e;
      }
    }
  }
}
