@import "bootstrap";
@import "bootstrap-responsive";

@viewport {
  width: device-width;
}

.navbarfix {}

/* universal */

body {
  font-family: 'Open Sans', sans-serif;
  // position:relative;
  color:#000;
  background:#f3f3f3;
  height:100%;
}
.container {
  margin-top:40px;
}
.menu {
  padding-left:20px;
  padding-right:20px;
}

.navbar {
  margin-bottom:0;
}

#coverphoto {
  float:left;
  height:280px;
  width:96%;
  display:block;
  overflow:visible;
  // background: white;
  // box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Forms */
.controls input {
  padding: 10px 20px;
  width:260px;
}
.control-group label {
  // font-size: 15px;
  // font-weight:normal;
}

.form-inline .text{
  width: 300px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

button, .cta, input[type="submit"] {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #c83737;
  border: none;
  font-size: 18px;
}
.cta {
  text-align:center;
  a {
    color: white;
  }
}

// .field_with_errors {
//   @extend .control-group;
//   @extend .error;
// }

/* Place Navigation Menu */
// #place-nav-bg {
//   top:0px;
//   bottom:0px;
//   position: absolute;
//   width:250px;
//   background-color: #000;
//   z-index:3;
// }
#place-nav {
  z-index:4;
  float:left;
  width:250px;
  padding:64px 0;
  background-color: #000;
  top: 0;
  bottom:0;
  color:#fff;
  // position:fixed;
  margin-left:25px;
  opacity:.9;
  #place-title {
    h1 {
      margin: 0;
      text-align:center;
      padding: 20px 10px;
      a {
        color:#fff;
      }
    }
  }
  #place-links {
    // border-radius: 0 0 10px 10px;
    .place-main {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 0px 10px;
        a {
          text-decoration: none;
          text-align:center;
          display:block;
          border-bottom: 1px solid #333;
          color:#fff;
          position:relative;
          padding: 12px 5px;
          font-size: 1em;
          font-weight:bold;
        }
        a:hover {
          color:#000;
          background:#fff;
        }
      }
    }
  }
  .place-info {
    position:relative;
    float:left;
    width:100%;
    .place-contact {
      margin: 0;
      padding: 0;
      div {
        padding: 5px 0;
        text-align:center;
        a {
          font-size:14px;
        }
      }
      .place-hours {
        margin-top:20px;
      }
    }
  }
}

/* Isotope Grid */
#main {
  top: 50px;
  // overflow:hidden;
  height:100%;
  margin-left: 250px;
  position:relative;
  #grid {
    top: 20px;
    width:99%;
    margin-left:1%;
    .grid-item {
      padding: 1%;
      // width:200px;
      width:21.75%;
      // margin: 0 7px 15px;
      margin: .5%;
      background:white;
      box-shadow:  0 1px 3px rgba(34,25,25,0.4);
      .caption {
        color: #8c7e7e;
        padding: 5px 0 0 5px;
        width: 100%;
      }
      .chatbox {
        border-top: 1px solid white;
        border-bottom: 1px solid rgba(#000,.1);
        padding: 5px 5px;
        padding-left:10px;
        // @include pie-clearfix;
        &:last-child {
          border-bottom: none;
        }
        &:first-child {
          color: #b29c9c;
          b {
            color: #8c7e7e;
          }
        }
      }
    }
  }
}

/* Content container */
#content {
  overflow:hidden;
  // position:absolute;
  display:block;
  top:50px;
  margin-left:300px;
  max-width:1550px;
  .dish {
    float: left;
    margin: 0 7px 15px;
    background:white;
    box-shadow:  0 1px 3px rgba(34,25,25,0.4);
    padding: 10px;
    width:200px;
    .item {
      float: left;
      line-height: 1.5;
      img {
        width:100%;
      }
      .caption {
        color: #8c7e7e;
        padding: 5px 0 0 5px;
        width: 100%;
      }
      .chatbox {
        border-top: 1px solid white;
        border-bottom: 1px solid rgba(#000,.1);
        padding: 5px 5px;
        padding-left:10px;
        // @include pie-clearfix;
        &:last-child {
          border-bottom: none;
        }
        &:first-child {
          color: #b29c9c;
          b {
            color: #8c7e7e;
          }
        }
      }
    }
  }
}

.category {
  // clear:both;
  // margin: 20px 0;
  span {
    background: #e8ecf1;
    font-size: 1em;
    color: #8c7e7e;
    display: inline-block;
    padding: 0px 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    position: relative;
    top: 0px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    padding:14px;
  }
}

/* Panel */
.panel {
  background: #f5f5f5;
  border-color: #dfdfdf;
  position: relative;
  overflow: auto;
  margin: 20px 0;
  padding: 23px 10px 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-size: 13px;
  line-height: 2.1em;
}

/* Home Page */
#home {
  background: url('http://wallpaperscraft.com/image/background_black_white_wooden_surface_board_18564_1280x960.jpg') #c0c0c0 bottom;
  // background-size: cover;
  padding-top: 100px;
  height:450px;
  section#intro {
    padding: 20px 0;
    h1 {
      font-size: 2.5em;
      color:#fff;
      margin: 0.25em 0;
    }
    h2 {
      font-size: 2em;
      color:#fff;
    }
    #action {
      text-align:center;
      p {
        color:white;
      }
    }
  }
  section {
    overflow:hidden;
    article {
      padding: 2%;
      display: block;
      float: left;
      width: 29%;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      h3 {
        font-size:1.5em;
      }
    }
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #fff;
  a {
    color: #555;
  }
  a:hover {
    color: #222;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 10px;
  }
}

/* Large desktop */
@media (min-width: 1600px) {
  body {padding:0;}
  #main {
    overflow:hidden;
    height:100%;
    margin-left: 250px;
    position:relative;
    #grid {
      top: 20px;
      float:left;
      width:100%;
      .grid-item {
        float: left;
        padding: 1%;
        // width:200px;
        width:16.5%;
        // margin: 0 7px 15px;
        margin: .5%;
        background:white;
        box-shadow:  0 1px 3px rgba(34,25,25,0.4);
        .caption {
          color: #8c7e7e;
          padding: 5px 0 0 5px;
          width: 100%;
        }
      }
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1279px) {
  body {padding: 0;}
  #main {
    overflow:hidden;
    height:100%;
    margin-left: 250px;
    position:relative;
    #grid {
      top: 20px;
      float:left;
      width:100%;
      .grid-item {
        float: left;
        padding: 1.25%;
        // width:200px;
        width:28%;
        // margin: 0 7px 15px;
        margin: 1%;
        background:white;
        box-shadow:  0 1px 3px rgba(34,25,25,0.4);
        .caption {
          color: #8c7e7e;
          padding: 5px 0 0 5px;
          width: 100%;
        }
      }
    }
  }
  #home section article { width:100%;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {padding: 0;}
  .navbar {margin:0; display:none;}
  #place-nav-bg {
    top:0px;
    bottom:0px;
    position: absolute;
    width:100%;
    background-color: rgba(0,0,0,0.9);
  }
  #place-nav {position:relative; text-align:center; width:100%; left:0; padding:40px 0;margin:0;background: none; opacity:1;}
  #main {
    overflow:hidden;
    height:100%;
    margin-left: 0;
    position:relative;
    width:100%;
    #grid {
      top: 20px;
      width:100%;
      margin-left:2%;
      .grid-item {
        padding: 2%;
        // width:200px;
        width:41%;
        // margin: 0 7px 15px;
        margin: 1.5%;
        background:white;
        box-shadow:  0 1px 3px rgba(34,25,25,0.4);
        .caption {
          color: #8c7e7e;
          padding: 5px 0 0 5px;
          width: 100%;
        }
      }
    }
  }

  .cta {
    text-align:center;
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #0d5a5a;
    margin: 0 !important;
    padding: 0 !important;
    height: 50px;
    line-height: 50px;
  }
  #home section article { width:100%;}
}


/* Landscape phones and down */
@media (max-width: 480px)  {
  body {padding: 0;}
  #place-nav {position:relative; text-align:center; width:100%; left:0; padding:40px 0;margin:0; opacity:1;}
  .navbar {margin:0; display:none;}
  #place-nav-bg {
    top:0px;
    bottom:0px;
    position: absolute;
    width:100%;
    background-color: rgba(0,0,0,0.9);
  }
  #place-nav {position:relative; text-align:center; width:100%; left:0; padding:40px 0;margin:0;background: none; }
  #main {
    overflow:hidden;
    height:100%;
    margin-left: 0;
    position:relative;
    width:100%;
    #grid {
      top: 20px;
      width:100%;
      margin-left:2%;
      .grid-item {
        padding: 4%;
        // width:200px;
        width:84%;
        // margin: 0 7px 15px;
        margin: 2%;
        background:white;
        box-shadow:  0 1px 3px rgba(34,25,25,0.4);
        .caption {
          color: #8c7e7e;
          padding: 5px 0 0 5px;
          width: 100%;
        }
      }
    }
  }
  .place-contact {
  }
  #home section article { width:100%;}
}

/* Iphone5 */
// @media only screen and (min-width: 560px) and (max-device-width: 1136px) {
//   body {padding: 0; background:black;}
//   #place-nav {position:relative; text-align:center; width:100%; left:0; padding:40px 0; }
//   #place-title img { height: 200px;}
//   // #content { display:none;}
// }