@import "bootstrap";
@import "bootstrap-responsive";



.navbar {position: fixed;}

/* universal */

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Forms */
.controls input {
  padding: 10px 20px;
}
.control-group label {
  // font-size: 15px;
  // font-weight:normal;
}

/* Place Navigation Menu */
#place-nav {
  position: absolute;
  width:200px;
  top:40px;
  left: 5%;
  background-color: #000;
  opacity: .98;
  box-shadow:  3px 3px 6px rgba(34, 25, 25, 0.6);
  padding: 40px 20px;
  #place-title {
    h1 {
      color:#fff;
      margin: 0;
      text-align:center;
      font-weight:500;
      font-size:30px;
      padding: 20px 10px;
    }
  }
  #place-links {
    // border-radius: 0 0 10px 10px;
    .place-main {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 5px 10px;
        a {
          color:#fff;
          padding: 0 10px;
          font-size: 20px;
          width:60px;
        }
      }
    }
    .place-contact {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 5px 10px;
        a {
          color:#fff;
          font-size:14px;
          padding: 0 10px;
          width:60px;
        }
      }
    }
  }
}

/* Isotope Grid */
#grid {
  overflow:hidden;
  position:relative;
  padding: 10px;
  top:100px;
  margin: 350px;
}
.grid-item {
  float: left;
  padding: 10px;
  width:200px;
  margin: 0 7px 15px;
  line-height: 1.5;
  background:white;
  box-shadow:  0 1px 3px rgba(34,25,25,0.4);
  .caption {
    color: #8c7e7e;
    padding: 5px 0 0 5px;
    width: 100%;
  }
  .chatbox {
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(#000,.1);
    padding: 5px 5px;
    padding-left:10px;
    // @include pie-clearfix;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      color: #b29c9c;
      b {
        color: #8c7e7e;
      }
    }
  }
}

/* Content container */
#content {
  overflow:hidden;
  // position:absolute;
  top:50px;
  margin-left:400px;
  .dish {
    float: left;
    margin: 0 7px 15px;
    background:white;
    box-shadow:  0 1px 3px rgba(34,25,25,0.4);
    padding: 10px;
    width:200px;
    .item {
      float: left;
      line-height: 1.5;
      img {
        width:100%;
      }
      .caption {
        color: #8c7e7e;
        padding: 5px 0 0 5px;
        width: 100%;
      }
      .chatbox {
        border-top: 1px solid white;
        border-bottom: 1px solid rgba(#000,.1);
        padding: 5px 5px;
        padding-left:10px;
        // @include pie-clearfix;
        &:last-child {
          border-bottom: none;
        }
        &:first-child {
          color: #b29c9c;
          b {
            color: #8c7e7e;
          }
        }
      }
    }
  }
}

.category {
  // clear:both;
  // margin: 20px 0;
  span {
    background: #e8ecf1;
    font-size: 1em;
    color: #8c7e7e;
    display: inline-block;
    padding: 0px 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    position: relative;
    top: 0px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    padding:14px;
  }
}

/* Form */
button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #c83737;
  border: none;
  font-size: 18px;
}


/* Large desktop */
@media (min-width: 1200px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }

/* Landscape phones and down */
@media (max-width: 480px) {
  body {padding: 0;}
  #place-nav {position:relative; text-align:center; width:100%; left:0; padding:40px 0; }
  #place-title img { height: 200px;}
  // #content { display:none;}
}

/* Iphone5 */
@media screen and (device-aspect-ratio: 40/71) {
  body {padding: 0; background:black;}
  #place-nav {position:relative; text-align:center; width:100%; left:0; padding:40px 0; }
  #place-title img { height: 200px;}
  // #content { display:none;}
}