
  <% unless @instagram.blank? %>
  <div id="main">

    <!-- <div id="coverphoto"></div> -->

    <div id="grid">
      <% cache do %>
      <% for instagram in @instagram %>
      <div class="grid-item">
        <%= link_to image_tag(instagram.images.standard_resolution.url), "#{instagram.images.standard_resolution.url}" %>
        <div class='caption'>
          <%= instagram.caption.text %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

  </div>

  <% end %>

<!--<script id="grid-template" type="text/x-handlebars-template">

  {{#each this}}
    <div class="grid-item">
      <a href="{{images.standard_resolution.url}}">
        <img src="{{images.standard_resolution.url}}" />
      </a>
      <div class="caption">
        {{caption.text}}
      </div>
    </div>
  {{/each}}

</script>


<script>
$(document).ready(function(){
      $("#coverphoto").backstretch('<%= raw @place.coverphoto.url.to_s %>');
    });
</script>

<div id="grid" style="display:none;" data-json-url="<%= place_url(@place) %>">