<% content_for :fluid do %>
  <% unless @instagram.blank? %>
  <div id="main">

    <!-- <div id="coverphoto"></div> -->

    <div id="grid" data-json-url="<%= place_url(@place) %>"></div>
  </div>
  <% end %>
<% end %>

<script id="grid-template" type="text/x-handlebars-template">

  {{#each this}}
    <div class="grid-item">
      <a href="{{images.standard_resolution.url}}">
        <img src="{{images.low_resolution.url}}" />
      </a>
      <div class="caption">
        {{caption.text}}
      </div>
    </div>
  {{/each}}

</script>

<script>
$(document).ready(function(){
      $("#coverphoto").backstretch('<%= raw @place.coverphoto.url.to_s %>');
    });
</script>
