<div id="place-nav">
  <div id="place-title">
    <%= image_tag 'http://3.bp.blogspot.com/-2nAmwxeinfk/UKCySCrZ_RI/AAAAAAAANYo/IN1YKIb_vdY/s1600/izakaya+bar+drinks.jpg' %>
    <h1><%= current_place.name %></h1>
  </div>
  <div id="place-links">
    <ul class="place-main">
      <li><a href ="#" id="toggleGrid"><i class="icon-camera"></i> Photo</a></li>
      <li><a href ="#"><i class="icon-book"></i> Menu</a></li>
      <li><a href ="#"><i class="icon-map-marker"></i> Contact</a></li>
    </ul>

  <div style="padding:20px;">
    <button class="btn btn-danger">Make Reservation</button>
  </div>

    <ul class="place-contact">
      <li><a href ="#"><i class="icon-volume-up"></i> (408) 355-3586</a></li>
      <li><a href ="#"><i class="icon-map-marker"></i> 1470 38th Ave,<br/> San Francisco, CA 94122</a></li>
      <li><a href ="#"><i class="icon-play-circle"></i> Hours</a></li>
    </ul>
  </div>
</div>