<div id="place-nav">
  <div id="place-title">
    <%# image_tag 'http://3.bp.blogspot.com/-2nAmwxeinfk/UKCySCrZ_RI/AAAAAAAANYo/IN1YKIb_vdY/s1600/izakaya+bar+drinks.jpg' %>
    <h1><%= link_to @place.name, place_path %></h1>
  </div>
  <nav id="place-links">
    <ul class="place-main">
      <li><a href ="#" id="toggleGrid">Photo</a></li>
      <li><%= link_to 'Menu', menu_place_path %></li>
      <li><a href ="#">Contact</a></li>
    </ul>
  </nav>

  <div class="place-info">
    <button>Make Reservation</button>

    <ul class="place-contact">
      <li><a href ="#">(408) 355-3586</a></li>
      <li><a href ="#">1470 38th Ave</a></li>
      <li><a href ="#">Hours</a></li>
    </ul>

    <p>Accepts Visa, MasterCard, Amex.</p>
  </div>
</div>