<!-- embed view -->
<link href="/assets/custom.css?body=1" media="all" rel="stylesheet" type="text/css">
<style>
#widget-container {
  margin:0 auto;
}
</style>

<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.isotope.min.js?body=1" type="text/javascript"></script>
<script>
$(function(){
  var $widgetGrid = $('#widget-grid');

  $widgetGrid.imagesLoaded( function(){
    $widgetGrid.isotope({
      itemSelector : '.widget-grid-item'
    });
  });
});
</script>

<div id="widget-container">

  <div id="grid">
    <%# cache "instagram#{Date.today}" do %>
      <% for instagram in @instagram %>
        <div class="grid-item">
          <%= link_to image_tag(instagram.images.low_resolution.url), "#{instagram.images.standard_resolution.url}" %>
          <div class="caption">
            <%= instagram.caption.text %>
          </div>
        </div>
      <% end %>
    <%# end %>
  </div>
</div>



