<% provide(:title, @place.name) %>

<body style="<%# show_user_bg %>">

<% content_for :nav do %>
  <%= render 'nav' %>

<%# image_tag 'https://wespot.s3-us-west-1.amazonaws.com/uploads/place/coverphoto/1/Izakaya.jpg?AWSAccessKeyId=AKIAIGJ5KQKYM3ZIYAZQ&Signature=biGg3If2T1TnG05nQCekVqRAJT0%3D&Expires=1362428431' %>
<script>
$(function(){
  var $content = $('#content');

  $content.imagesLoaded( function(){
    $content.isotope({
      itemSelector : '.dish'
    });
  });
});
</script>

<!-- <div id="menu">
  Otsumami

tako wasabi wasabi marinated raw octopus 4.5
* tuna tartar wasabi guacamole, lotus root chips 9
* spicy tuna on crispy rice teriyaki balsamic 8.5
takoyaki battered octopus ball tonkatsu sauce 5.5

Vegetables

garlic soy edamame 4.5
* shishito peppers garlic sauteed 6.5
* nasu dengaku grilled Japanese eggplant sweet miso 6
* tofu steak w/ assorted mushrooms sizzling platter 7.5
sweet butter corn kernels 4
tsukemono assorted Japanese pickled vegetables 5
garlic blossom bulb, miso plate 3.5

Salad

* daikon salad cilantro vinaigrette 5.5
tofu salad avocado, tomato, sesame dressing 5.5
seaweed salad 5.5
negi chashu salad sliced green onion, pork 5.5

Sashimi

* hamachi carpaccio mustard miso vinaigrette, jalapeno 12
albacore carpaccio crispy onion, yuzu garlic ponzu 11
salmon carpaccio mango salsa 12
Nimono

* buta kakuni braised pork belly 7
gyusuji braised beef tendon 6

Fried

agedashi tofu tofu in dashi broth 5.5
agedashi mochi rice cake, dashi broth 5.5
fried oyster sweet chili garlic sauce 5.5
* house chicken wings 7.5
* white pepper dry chicken wings 7.5
fried cheese pepper jack 4
nankotsu karaage chicken cartilage 6.5
A la carte

grilled whole squid spicy aioli 9.5
saikyo miso cod 9.5
* sake steamed clams garlic butter 9
beef tataki garlic chips, ponzu 9.5
hamachi kama grilled yellowtail collar 11.5

Yakitori
(grilled, 2 skewers per order)

* bacon wrap enoki mushroom 5.5
* bacon wrap mochi 5
* pork jowl cheek 6
arabiki sausage pork 5.5
chicken thigh 5
chicken gizzard 5
chicken heart 5
* chicken skin 5.5
* tsukune chicken meatball 5.5
beef tongue 5.5

Kushiage
(breaded and deep fried)

tonkatsu pork belly 5.5
onion 3
assorted seafood shrimp, scallop, halibut 5.5

After Sake

yaki onigiri grilled rice ball with salmon 3.5
* Ritsu Tonkotsu Ramen 9
Additions: pork belly 2 spicy miso 1.5 garlic chips 0.75

Beverages

Soda / Calpico / Oolong Tea 2
Tea Pot 2.5pp Genmai

Please see sake/drinks menu for extensive list

* house special
$25 min per person for parties of 6 or more plus 18% gratuity
</div> -->


  <div class="coverphoto" style="background:#fff;height:200px;"></div>

<div id="content">


  <div class="category"><span>Chef's Picks</span></div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/1861767/thumb_600.jpg?1339153958?1361765196" />
      </a>
      <div class="caption">
        Bacon Wrapped Mochi: $13
        Mochi wrapped in strips of bacon. obviously.
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/885449/thumb_600.jpg?1316504356" />
      </a>
      <div class="caption">
        Hamachi Carpaccio
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/885432/thumb_600.jpg?1316503766" />
      </a>
      <div class="caption">
        Tonkotsu Ramen
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/1861767/thumb_600.jpg?1339153958?1361765196" />
      </a>
      <div class="caption">
        Bacon Wrapped Mochi
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/885449/thumb_600.jpg?1316504356" />
      </a>
      <div class="caption">
        Hamachi Carpaccio
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/885432/thumb_600.jpg?1316503766" />
      </a>
      <div class="caption">
        Tonkotsu Ramen
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/1861767/thumb_600.jpg?1339153958?1361765196" />
      </a>
      <div class="caption">
        Bacon Wrapped Mochi
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/885449/thumb_600.jpg?1316504356" />
      </a>
      <div class="caption">
        Hamachi Carpaccio
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/885432/thumb_600.jpg?1316503766" />
      </a>
      <div class="caption">
        Tonkotsu Ramen
      </div>
    </div>
  </div>


  <div class="category"><span>Appetizers</span></div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/1861767/thumb_600.jpg?1339153958?1361765196" />
      </a>
      <div class="caption">
        Bacon Wrapped Mochi
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/885449/thumb_600.jpg?1316504356" />
      </a>
      <div class="caption">
        Hamachi Carpaccio
      </div>
    </div>
  </div>
  <div class="dish">
    <div class="item">
      <a href="#">
        <img src="http://s3.amazonaws.com/foodspotting-ec2/reviews/885432/thumb_600.jpg?1316503766" />
      </a>
      <div class="caption">
        Tonkotsu Ramen
      </div>
    </div>
  </div>
</div> -->

<% end %>

<%# render 'instagram' %>
